
/*幻灯图片*/
.focus{ width:100%;margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px; position:absolute; z-index:1;top:5px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:10px; padding:3px 5px; background-color:rgba(171, 171, 171, 0.7);-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;}
.focus .hd ul li{display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px; vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#FE6C9C;  }
.focus .bd{position:relative; z-index:0; }
.focus .bd li img{width:100%;background:url(images/loading.gif) center center no-repeat;  }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }


.item-list li{border-bottom:thin solid #EEE;}
.item-list li:last-child{border:none;}
.item-list img{width:100%;}
.item-list h5{font-size:14px;height:16px;overflow:hidden;}
.item-list .desc{font-size:12px;color:#999;max-height:36px;line-height:18px;overflow:hidden;margin:5px 0;}
.item-list .info{overflow:hidden;margin:0;margin:0;}
.item-list .info span{font-size:24px;font-family:tahoma,arial,"Hiragino Sans GB",瀹嬩綋,sans-serif;}
.item-list .info span.text-yellow{font-size:14px;}
.item-list .info del{font-size:12px;color:#999;margin-left:10px;}
.item-list .info em{color:#fff;float:right;font-size: 14px;}
.item-list .info em i{ margin-left:10px;}
.icon-angle-right:before{ font-size:18px;}
.item-list li .title{ position: absolute;bottom: 0; padding: 10px; color: #FFF; background: rgba(0,0,0,0.5);width: 100%;}
.item-list li .title h1{ font-size:18px;}

.tuan-detail .banner{width:100%;position:relative;}
.tuan-detail .banner img{width:100%;}
.tuan-detail .title{position:absolute;bottom:0;padding:10px;color:#FFF;background:rgba(0,0,0,0.5);width:100%;}
.tuan-detail .title h1{font-size:18px;height:20px;line-height:20px;}
.tuan-detail .title p{height:20px;line-height:20px;font-size:12px;overflow:hidden;margin:5px 0 0 0;}
.tuan-detail .price{padding:20px 10px 10px 10px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tuan-detail .price em{font-size:30px;font-weight:bold;margin-right:5px;}
.tuan-detail .price del{color:#999;margin-left:20px;}
.tuan-detail .button{text-align:center;}
.tuan-detail .info{padding:10px;}
.tuan-detail .status{padding:10px;color:#999;}
.tuan-detail .ui-starbar{margin-top:5px;}
.tuan-detail .shop{padding:10px;}
.tuan-detail .shop .tel{font-size:40px;width:100%;display:block;text-align:center;}
.tuan-detail .shop h2{font-size:16px;}
.tuan-detail .shop p{font-size:12px;color:#999;margin:5px 0 0 0;width:90%;overflow:hidden;height:20px;}
.tuan-detail hr{margin:0;}
.tuan-detail .intro h2{height:40px;line-height:40px;font-size:16px;padding:0 10px;border-bottom:thin solid #DDD;}
.tuan-detail .intro .container{padding:10px;}
.tuan-detail .intro .container *{max-width:100%;}



.main-service a{display:block;padding:15px 10px;overflow:hidden;}
.main-service .pic{float:left;width:40%;text-align:center;}
.main-service .pic img{width:70%;}
.main-service .des{width:60%;float:left;}
.main-service .des p{margin:0;height:20px;line-height:20px;margin-top:5px;}
.main-service .des span{font-size:12px;color:#999;height:20px;line-height:20px;}

.other-service ul{list-style:none;padding:0;}
.other-service li{text-align:center;}
.other-service li a{display:block;padding:15px;}
.other-service li span{display:block;height:30px;line-height:30px;}
.other-service li img{width:40%;}


.more-service .more-title{height:40px;line-height:40px;border-bottom:thin solid #eee;padding:0 10px;margin:0;background:#FAFAFA;}
.more-service .more-title em{display:block;float:left;background:#B28500;width:3px;height:12px;margin:15px 10px 0 0;}
.more-service .more-list{border-bottom:thin solid #eee;overflow:hidden;padding:5px 0;}
.more-service .more-list a{display:block;float:left;width:25%;text-align:center;padding:10px 0;}
.more-service .more-list p{margin:0;height:20px;line-height:20px;font-size:12px;}
.more-service .more-list img{width:40%;}


.send-form .row{overflow:hidden;border-bottom:thin solid #EEE;padding:0;}
.send-form .icon{float:left;width:10%;text-align:center;color:#999;height:50px;line-height:60px;overflow:hidden;font-size:16px;}
.send-form .line-input{border:none;float:left;background:#FFF;height:50px;width:90%;padding-top:12px;overflow:hidden;}

/*小区搜索*/
.xiaoqu-search{padding:15px;background:#fafafa;border-bottom:thin solid #eee;padding-bottom:5px;}

/*小区列表*/
.xiaoqu-list ul{padding:0;list-style:none;}
.xiaoqu-list li{padding:10px;border-bottom:thin solid #eee;}
.xiaoqu-list img{width:90%;}
.xiaoqu-list h5{margin-bottom:5px;}
.xiaoqu-list p{height:20px;line-height:20px;margin:0;color:#999;font-size:12px;overflow:hidden;}

/*广告幻灯*/
.xiaoqu-roll{width:100%;position:relative;}
.xiaoqu-roll ul{padding:0;list-style:none;}
.xiaoqu-roll img{width:100%;max-height:200px;}
.xiaoqu-roll .hd{width:100%;text-align:center;position:absolute;bottom:10px;}
.xiaoqu-roll .hd li{width:10px;height:10px;background:#fff;border-radius:10px;display:inline-block;text-indent:-99999px;margin:0 3px;}
.xiaoqu-roll .hd .on{background:#f60!important;}
/*优惠详情*/
.hd-detail .detail-pic{width:100%;max-height:250px;position:relative;}
.hd-detail .detail-pic img{width:100%;max-height:250px;}
.hd-detail .detail-pic p{position:absolute;height:40px;line-height:40px;color:#FFF;width:100%;padding:0 10px;left:0;bottom:0;background:rgba(0,0,0,0.85);margin:0;}

.hd-detail .detail-ctrl{background:#FFF;border-bottom:thin solid #eee;height:60px;padding:10px;overflow:hidden;line-height:40px;}
.hd-detail .detail-ctrl span{float:left;font-size:14px;}
.hd-detail .detail-ctrl em{color:#F60;font-size:16px;}
.hd-detail .detail-ctrl .btn-sign {background: #F60; color: #fff; height:30px; line-height:30px; border-radius: 3px;padding:0 20px;margin-top:5px;}
.hd-detail .detail-ctrl .btn-signed {background: #EEE; color: #fff; height:30px; line-height:30px; border-radius: 3px;padding:0 20px;margin-top:5px;}
.hd-detail .detail-info {background:#FFF;border-top:thin solid #eee;border-bottom:thin solid #eee;padding:0 10px;}
.hd-detail .detail-info h1{height:40px;line-height:40px;font-size:14px;border-bottom:thin solid #eee;font-weight:bold;}
.hd-detail .detail-info p{line-height:20px;border-bottom:thin solid #eee;padding:10px 0;margin:0;}
.hd-detail .detail-info p:last-child{border:none!important;}
.hd-detail .detail-con{background:#FFF;margin-top:10px;}
.hd-detail .detail-con .con-hd{height:40px;line-height:40px;padding:0 10px;border-bottom:thin solid #eee;font-size:14px;font-weight:bold;}
.hd-detail .detail-con .con-bd{font-size:13px!important;padding:10px;font-weight:bold;}
.hd-detail .detail-con .con-bd *{font-size:13px!important;line-height:22px;}
.hd-detail .detail-con .con-bd img{max-width:100%;}

.hd-detail .detail-info2 {background:#FFF;border-top:thin solid #eee;border-bottom:thin solid #eee;padding:0 10px;padding-bottom: 10px;}
.hd-detail .detail-info2 h1{height:40px;line-height:40px;font-size:14px;border-bottom:thin solid #eee;font-weight:bold;}
.hd-detail .detail-info2 p{line-height:20px;margin:0; padding:0px;}
/*点评*/


.dian-list{list-style:none;padding:0;}
.dian-list .item{position: relative;padding:10px;background:#FFF;border-bottom:1px solid #EEE;}
.dian-list .item-title{font-size:13px;width:100%;overflow:hidden;}
.dian-list .item-title span{line-height:30px;}
.dian-list .item-con{line-height: 15px;font-size: 13px;color: #787878;}
.dian-list .item-pic  {overflow:hidden;width:100%;}
.dian-list .item-pic img{width:80px;height:60px;float:left;margin:5px 5px 0 0;}