.top-fixed2{position: relative;padding: 8px 12px;margin: 0;background: #eee;-webkit-transition: .3s;transition: .3s;}
.top-fixed2 .top-search {position:relative;width:90%;margin:0px auto;padding:0;}
.top-fixed2 .top-search input{width:100%;border-radius:20px;border:none;height:30px;line-height:35px;padding:0 10px;font-size:13px;color:#999!important;overflow:hidden;}
.top-fixed2 .top-search button{margin-right:10px;position:absolute;top:0;right:0;color:#999;display:block;width:40px;height:30px;border-radius:20px;text-align:center;font-size:16px;background:none;border:none;padding:0;margin:0;}
.top-fixed2 .top-search input::-webkit-input-placeholder {-webkit-transition: color.5s;}
.top-fixed2 .top-search input:focus::-webkit-input-placeholder, .top-fixed2 .top-search input:hover::-webkit-input-placeholder {-webkit-transition: color.5s;} 

.panel-list ul{padding:0;list-style:none;}
.panel-list li{overflow:hidden;border-bottom:thin solid #eee;}
.panel-list li i{float:right;color:#999;}
.panel-list li span{float:left;width:30px;text-align:center;color:#999;font-size:16px;}
.panel-list li a{display:block;padding:0 10px;height:50px;line-height:50px;width:100%;}



.shop-list .item{overflow:hidden;padding:10px 0;border-bottom:thin solid #EEE;display:block;position:relative;}
.shop-list .item .pic{float:left;width:100px;height:80px;width:80px;}
.shop-list .item .des{float:left;width:100%;padding-left:90px;position:absolute;left:0;}
.shop-list .item .des h5{overflow:hidden;margin-bottom:5px;width:100%;}
.shop-list .item .des .distance{float:right;}
.shop-list .item .des .addr{padding:5px 0;font-size:12px;color:#999;}
.shop-list .item .des .info{padding:5px 0;}

