
/*幻灯图片*/
.inner-back, .inner-cart{ top: 16px;left: 16px;background-size: 30px 30px;height: 30px;width: 30px;}
.inner-back { background-image: url(../image/mall/inner-back.png);}
.inner-cart {background-image: url(../image/mall/inner-cart.png);height: 30px; width: 30px;}
.focus{ width:100%;margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px; position:absolute; z-index:1;top:5px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:10px; padding:3px 5px; background-color:rgba(171, 171, 171, 0.7);-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;}
.focus .hd ul li{display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px; vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#FE6C9C;  }
.focus .bd{position:relative; z-index:0; }
.focus .bd li img{width:100%;background:url(images/loading.gif) center center no-repeat;  }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }

.price .pre-price-tips {font-size: 16px;color: #999;vertical-align: text-bottom;margin-right: 5px;margin-left: 5px;}
.price .dt-icon {margin-left: 2px;vertical-align: 2px;}
.dt-icon {background-color: #ff5000;font-size:12px;color: #fff;padding: 3px;border-radius: 2px;line-height: 12px;display: inline-block;}
.item-detail .detail-row{overflow:hidden;padding:10px;width:100%;}
.item-detail .item-price .price{color:#F60;font-size:20px;margin:0;font-family: tahoma,arial,"Hiragino Sans GB",sans-serif;} 
.item-detail .detail-row .price-tip{ margin-top:10px;}
.item-detail .detail-row .price-tip span.text-gray{ margin-right:5px;}

.tuan-detail .banner{width:100%;position:relative;}
.tuan-detail .banner img{width:100%;}
.tuan-detail .title{position:absolute;bottom:0;padding:10px;color:#FFF;background:rgba(0,0,0,0.5);width:100%;}
.tuan-detail .title h1{font-size:18px;height:20px;line-height:20px;}
.tuan-detail .title p{height:20px;line-height:20px;font-size:12px;overflow:hidden;margin:5px 0 0 0;}
.tuan-detail .price{padding:20px 10px 10px 10px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tuan-detail .price em{font-size:30px;font-weight:bold;margin-right:5px;}
.tuan-detail .price del{color:#999;margin-left:20px;}
.tuan-detail .button{text-align:center;}
.tuan-detail .info{padding:10px;}
.tuan-detail .status{padding:10px;color:#999;}
.tuan-detail .ui-starbar{margin-top:5px;}
.tuan-detail .shop{padding:10px;}
.tuan-detail .shop .tel{font-size:40px;width:100%;display:block;text-align:center;}
.tuan-detail .shop h2{font-size:16px;}
.tuan-detail .shop p{font-size:12px;color:#999;margin:5px 0 0 0;width:90%;overflow:hidden;height:20px;}
.tuan-detail hr{margin:0;}
.tuan-detail .intro h2{height:40px;line-height:40px;font-size:16px;padding:0 10px;border-bottom:thin solid #DDD;}
.tuan-detail .intro .container{padding:10px;}
.tuan-detail .intro .container *{max-width:100%;}



.main-service a{display:block;padding:15px 10px;overflow:hidden;}
.main-service .pic{float:left;width:40%;text-align:center;}
.main-service .pic img{width:70%;}
.main-service .des{width:60%;float:left;}
.main-service .des p{margin:0;height:20px;line-height:20px;margin-top:5px;}
.main-service .des span{font-size:12px;color:#999;height:20px;line-height:20px;}

.other-service ul{list-style:none;padding:0;}
.other-service li{text-align:center;}
.other-service li a{display:block;padding:15px;}
.other-service li span{display:block;height:30px;line-height:30px;}
.other-service li img{width:40%;}


.more-service .more-title{height:40px;line-height:40px;border-bottom:thin solid #eee;padding:0 10px;margin:0;background:#FAFAFA;}
.more-service .more-title em{display:block;float:left;background:#B28500;width:3px;height:12px;margin:15px 10px 0 0;}
.more-service .more-list{border-bottom:thin solid #eee;overflow:hidden;padding:5px 0;}
.more-service .more-list a{display:block;float:left;width:25%;text-align:center;padding:10px 0;}
.more-service .more-list p{margin:0;height:20px;line-height:20px;font-size:12px;}
.more-service .more-list img{width:40%;}


.send-form .row{overflow:hidden;border-bottom:thin solid #EEE;padding:0;}
.send-form .icon{float:left;width:10%;text-align:center;color:#999;height:50px;line-height:60px;overflow:hidden;font-size:16px;}
.send-form .line-input{border:none;float:left;background:#FFF;height:50px;width:90%;padding-top:12px;overflow:hidden;}

/*小区搜索*/
.xiaoqu-search{padding:15px;background:#fafafa;border-bottom:thin solid #eee;padding-bottom:5px;}

/*小区列表*/
.xiaoqu-list ul{padding:0;list-style:none;}
.xiaoqu-list li{padding:10px;border-bottom:thin solid #eee;}
.xiaoqu-list img{width:90%;}
.xiaoqu-list h5{margin-bottom:5px;}
.xiaoqu-list p{height:20px;line-height:20px;margin:0;color:#999;font-size:12px;overflow:hidden;}

/*广告幻灯*/
.xiaoqu-roll{width:100%;position:relative;}
.xiaoqu-roll ul{padding:0;list-style:none;}
.xiaoqu-roll img{width:100%;max-height:200px;}
.xiaoqu-roll .hd{width:100%;text-align:center;position:absolute;bottom:10px;}
.xiaoqu-roll .hd li{width:10px;height:10px;background:#fff;border-radius:10px;display:inline-block;text-indent:-99999px;margin:0 3px;}
.xiaoqu-roll .hd .on{background:#f60!important;}
/*优惠详情*/
.hd-detail .detail-pic{width:100%;max-height:250px;position:relative;}
.hd-detail .detail-pic img{width:100%;max-height:250px;}
.hd-detail .detail-pic p{position:absolute;height:40px;line-height:40px;color:#FFF;width:100%;padding:0 10px;left:0;bottom:0;background:rgba(0,0,0,0.85);margin:0;}

.hd-detail .detail-ctrl{background:#FFF;border-bottom:thin solid #eee;height:60px;padding:10px;overflow:hidden;line-height:40px;}
.hd-detail .detail-ctrl span{float:left;font-size:14px;}
.hd-detail .detail-ctrl em{color:#F60;font-size:16px;}
.hd-detail .detail-ctrl .btn-sign {background: #F60; color: #fff; height:30px; line-height:30px; border-radius: 3px;padding:0 20px;margin-top:5px;}
.hd-detail .detail-ctrl .btn-signed {background: #EEE; color: #fff; height:30px; line-height:30px; border-radius: 3px;padding:0 20px;margin-top:5px;}
.hd-detail .detail-info {background:#FFF;border-top:thin solid #eee;border-bottom:thin solid #eee;padding:0 10px;}
.hd-detail .detail-info h1{height:40px;line-height:40px;font-size:14px;border-bottom:thin solid #eee;font-weight:bold;}
.hd-detail .detail-info p{line-height:20px;border-bottom:thin solid #eee;padding:10px 0;margin:0;}
.hd-detail .detail-info p:last-child{border:none!important;}

.hd-detail .detail-info1 {background:#FFF;border-top:thin solid #eee;border-bottom:thin solid #eee;padding:0 10px;}
.hd-detail .detail-info1 h1{height:40px;line-height:40px;font-size:14px;border-bottom:thin solid #eee;font-weight:bold;}
.hd-detail .detail-info1 p{line-height:20px;padding:0px;margin:0;}
.hd-detail .detail-info1 p:last-child{border:none!important;}


.hd-detail .detail-con{background:#FFF;margin-top:10px;}
.hd-detail .detail-con .con-hd{height:40px;line-height:40px;padding:0 10px;border-bottom:thin solid #eee;font-size:14px;font-weight:bold;}
.hd-detail .detail-con .con-bd{font-size:13px!important;padding:10px;font-weight:bold;}
.hd-detail .detail-con .con-bd *{font-size:13px!important;line-height:22px;}
.hd-detail .detail-con .con-bd img{max-width:100%;}

/*点评*/


.dian-list{list-style:none;padding:0;}
.dian-list .item{position: relative;padding:10px;background:#FFF;border-bottom:1px solid #EEE;}
.dian-list .item-title{font-size:13px;width:100%;overflow:hidden;}
.dian-list .item-title span{line-height:30px;}
.dian-list .item-con{line-height: 15px;font-size: 13px;color: #787878;}
.dian-list .item-pic  {overflow:hidden;width:100%;}
.dian-list .item-pic img{width:80px;height:60px;float:left;margin:5px 5px 0 0;}

/*云购*/
.fr { float: right;}
.yiyuan_progres{ width:100%; height:0.26rem; background:#def2ef; border-radius:0.3rem;}
.yiyuan_progres_bar{ display:block; height:0.26rem; background:#2fbdaa; border-radius:0.3rem;}

.yiyuan_buynum_mask{ position:fixed; display:none; z-index:1000; top:0; left:0; width:100%; height:100%; background: rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);}
.yiyuan_buynum_mask .cont{ position:absolute; bottom:0; left:0; width:100%; background:#fff;}
.yiyuan_buynum_mask .title1{ overflow:hidden; font-size:14px; color:#333; line-height:2.34rem; padding:0 0.6rem; background:#f7f7f7;}
.yiyuan_buynum_mask .title1 .closs{ font-size:16px;}
.yiyuan_buynum_mask .cont{ position:absolute; bottom:0; left:0; width:100%; background:#fff;}
.yiyuan_buynum_mask .nr{padding:0.6rem;}
.yiyuan_buynum_int{ overflow:hidden; margin:0.6rem 0;}
.yiyuan_buynum_int ul li{ display:block; float:left;}
.yiyuan_buynum_int span{cursor: pointer; display:inline-block; height: 2.1rem; width: 2.1rem; border: 0.1rem solid #dedede; background: #f0f0f0 none; font-size: 14px; line-height: 2.1rem; text-align: center; outline: none; padding: 0; margin: 0;}
.yiyuan_buynum_int input[type="text"] { width:2.4rem; border: none 0; border-top: 0.1rem solid #dedede; border-bottom: 0.1rem solid #dedede; background: #fff none; font-size: 14px; line-height: 2.0rem; text-align: center;  vertical-align: middle; padding: 0; border-radius: 0;}
.yiyuan_buynum_mask .btn_box{ border-top: 0.1rem solid #dedede; padding:0.6rem 0 0; text-align:center;}
.yiyuan_buynum_mask .btn{ display:inline-block; width: 80%; height: 2.1rem; line-height: 2.1rem; background: #2FBDAA; border-radius: 0.34rem; text-align: center; color: #FFF; font-size: 14px;}
/*底部*/
footer{border-top: 1px #CCC solid; position: fixed; bottom: 0; z-index: 999; background: #EEE; width: 100%;}
footer>div{width: 20%; float: left;}
footer p{text-align: center; color: #666; font-size: 0.14rem;}
footer .icon{width: 0.24rem; height: 0.24rem; margin: 0 auto; margin-top: 0.04rem; background: url(../img/footIco.png) no-repeat center top; background-size: 0.24rem auto;}
footer .icon.on{ background-image:url(../img/footIco_on.png);}
footer .i-1{background-position:center 0;}
footer .i-2{background-position:center -0.24rem;}
footer .i-3{background-position:center -0.48rem;}
footer .i-4{background-position:center -0.72rem;}
footer .i-5{background-position:center -0.96rem;}
.footer-cart,.footer-btn{background-color: #FFF;height:50px; line-height:50px;}
.footer-cart .price{font-size: 0.14rem; color: #2fbdaa; height: 0.55rem; line-height: 0.5rem; margin-left: 0.5rem;}
.footer-cart .cart{width: 0.32rem; height: 0.32rem; background: url(../img/icon-cart.png) no-repeat; background-size:0.32rem 0.3rem; position: absolute; top: 0.12rem; left: 0.1rem;}
.footer-cart .cart-num{width: 0.18rem; height: 0.18rem; line-height: 0.18rem; background: #EB6100; border-radius: 0.5rem; color: #FFF; font-size: 0.12rem; text-align: center; position: relative; bottom: 0.05rem; left: 0.1rem;}
.footer-cart .btn{width: 0.9rem; height: 0.33rem; background: #2fbdaa; float: right; margin-right: 0.1rem; cursor: pointer; color: #FFF; text-align: center; font-size: 0.16rem; margin-top: 0.07rem; line-height: 0.33rem; border-radius: 0.05rem;}
.footer-cart .disable{width: 0.9rem; height: 0.33rem; background: #dedede; float: right; margin-right: 0.1rem; cursor: pointer; color: #FFF; text-align: center; font-size: 0.16rem; margin-top: 0.07rem; line-height: 0.33rem; border-radius: 0.05rem;}
.footer-cart input{width: 1rem; height: 0.36rem; background: #2fbdaa; float: right; margin-right: 0.1rem; cursor: pointer; color: #FFF; text-align: center; font-size: 0.16rem; margin-top: 0.07rem; line-height: 0.36rem; border-radius: 0.05rem; border:none 0px;}
.footer-cart .btn-long{width: 80%; height: 2.06rem; position: absolute; left: 10%; line-height: 2.20rem; background: #2FBDAA; border-radius: 0.34rem; text-align: center; color: #FFF; font-size: 16px;margin-top: 0.45rem; }
footer #jq_total{width:auto;}


/*支付确认*/
.pay-form .row{padding:0 10px;overflow:hidden}
.pay-form .row p{margin:0}
.pay-form .text-input{width:100%;border:none;}
.pay-form .text-area{width:100%;height:80px;resize:none;}