.card_num{height:40px;line-height:40px;text-align:center;color:#aaaaaa}
.card_num .a{color:#fc851b}
.card_num span{margin-right:10px}
.card_num .b{color:#005dd1}
.card_num .c{color:#409700}
.sign_btn{border:1px solid #e8eaec;height:32px;line-height:32px;text-align:center;font-size:1em;margin:0 15px}
.sign_btn a{color:#585858;display:block}
.sign_btn a:before,.sign_btn.isqiandao1:before{display:inline-block;vertical-align:middle;width:30px;height:32px;background-position:-68px -92px}

.main-coll .panel{border:none;}
.main-coll .panel .panel-head{background:#fff;border-bottom:thin solid #eee;overflow:hidden;}
.main-coll .panel .panel-head h4{float:left;}
.main-coll .panel .panel-head span{float:right;color:#999;}
.main-coll .panel .panel-head span.up{display:none;}
.main-coll .panel .panel-head span.down{display:block;}
.main-coll .active .panel-head span.up{display:block!important;}
.main-coll .active .panel-head span.down{display:none!important;}
.main-coll .panel .panel-body ul{overflow:hidden;padding:0;list-style:none;}
.main-coll .panel .panel-body li{width:25%;float:left;}
.main-coll .panel .panel-body li span{width:60%;display:block;height:20px;line-height:20px;text-align:center;}
.main-coll .panel .panel-body li img{width:60%;}


/*帖子列表*/
.tie-list{background:#f5f5f5;list-style:none;}
.tie-item {background:#fff;padding:10px;overflow:hidden;}
.tie-item .item-head{overflow:hidden;border-bottom:thin solid #eee;position:relative;padding:5px 0;}
.tie-item .item-head .avatar img{width:40px;height:40px;border-radius:30px;overflow:hidden;}
.tie-item .item-head .info{float:left;font-size:12px;overflow:hidden;}
.tie-item .item-head .info span{color:#999;}
.tie-item .item-head .title{font-size:1.5em; font-weight:bold;display:block;height:30px;overflow:hidden;line-height:30px;margin:0;overflow:hidden;}
.tie-item .item-head .coner{width:12px;height:6px;background:url("../image/tieba/title-coner.png") no-repeat;position:absolute;bottom:0;right:20px;}
.tie-item .item-body {padding:10px 0;}
.tie-item .item-body .pic{overflow:hidden;width:100%;}
.tie-item .item-body .pic img{width:99%;}
.tie-item .item-body .gallery{width:100%;overflow:hidden;padding:0;}
.tie-item .item-body .gallery li{float:left;border:none; list-style:none}
.tie-item .item-body .gallery img{max-width: 90px;height: 67px;overflow: hidden;float: left;display: inline;margin-right: 10px;position: relative;z-index: 1; width:auto}
.tie-item .item-body .pic span{width:25%;float:left;display:block;}
.tie-item .item-body .ctrl{overflow:hidden;color:#999;width:100%;text-align:right;}
.tie-item .item-body .ctrl a{margin-left:20px;color:#4170B6;display:block;float:right;height:40px;line-height:40px;padding:0 10px;}
.tie-item .item-foot{background:#fafafa;font-size:12px;padding:10px;}
.tie-item .item-foot p{margin:0;height:25px;line-height:25px;overflow:hidden;}
.tie-item .item-foot em{color:#4170B6;}

/*城市名片*/
.bar-top{width:100%;height:240px;position:relative;border-bottom:thin solid #eee;background:#fafafa;}
.bar-top .photo img{height:130px;min-height:130px;width:100%;}
.bar-top .line{width:100%;position:absolute;top:90px;left:0;}
.bar-top .logo{width:80px;height:80px;overflow:hidden;border-radius:100%;border:thin solid #eee;margin:0 auto;padding:4px;background:#fff;}
.bar-top .logo img{width:100%;border-radius:100%;box-shadow:1px 1px 3px rgba(100,100,100,0.1);}
.bar-top .tag-1{border-radius:10px;padding:2px 10px;width:auto;color:#fff;}
.bar-top .tag-2{border:thin solid #eee;border-radius:10px;padding:2px 10px;width:auto;color:#999;}
.bar-top .tips{color:#999;font-size:12px;}

/*置顶帖子*/
.tie-ding ul{padding:0;list-style:none;}
.tie-ding li{border-bottom:thin solid #eee;padding:10px;overflow:hidden;}
.tie-ding em{float:left;margin-right:10px;font-size:12px;}
.tie-ding span{float:right;color:#999;}
.tie-ding a{width:80%;overflow:hidden;display:block;height:20px;line-height:20px;float:left;}

/*贴吧底部*/
.foot-bar{bottom:0px;display:table;width:100%;height:50px;padding:0px;table-layout:fixed;position:fixed;z-index:10;right:0px;left:0px;background:rgba(255,255,255,0.8);box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);backface-visibility: hidden;}
.foot-bar .left-icon{font-size:30px;color:#4170B6;width:100%;text-align:center;display:block;height:50px;line-height:45px;border-right:thin solid #eee;}
.foot-bar .post-icon{color:#4170B6;width:100%;text-align:center;display:block;height:50px;line-height:50px;font-size:16px;}
.foot-bar .post-icon i{margin-right:10px;}
.foot-bar .right-icon{font-size:20px;color:#4170B6;width:100%;text-align:center;display:block;height:50px;line-height:45px;border-left:thin solid #eee;}

/*帖子页面*/
.tie-from{height:40px;line-height:40px;overflow:hidden;padding:0 10px;border-bottom:thin solid #eee;}
.tie-detail{background:#f5f5f5;list-style:none;}
.tie-detail .tie-item{border:none;box-shadow:none;padding:0;}
.tie-detail .tie-item .item-head{padding:10px;}
.tie-detail .tie-item .item-body{padding:10px;}
.tie-detail .tie-item .item-body img{text-align: center;height: auto;max-width:100%!important;margin:5px;width: 90%}
.layui-layer-photos{height:auto!important;}
.layui-layer-imguide{display:block!important;}
.layui-layer-imgbar{display:block!important;}

/*回帖列表*/
.reply-title{margin:10px;border-bottom:thin solid #eee;height:40px;line-height:40px;}
.reply-title h3{border-bottom:thin solid #4170B6;width:auto;float:left;height:40px;line-height:40px;font-size:16px;}
.reply-title i{color:#4170B6;}
.reply-list {list-style:none;padding:0;}
.reply-list  .reply-item{padding:10px 0;border-bottom:thin solid #eee;margin:0 10px;position:relative;}
.reply-list  .reply-item .avatar img{width:80%;}
.reply-list  .reply-item .content{position:relative;display:block;min-height:50px;}
.reply-list  .reply-item .content .ctrl{position:absolute;bottom:0;font-size:10px;color:#999;margin:0;}
.reply-list  .reply-item .content em{color:#4170B6;}

/*发布帖子*/
.post-form {padding:10px 0;}
.post-form .form-title select{height:40px;width:200%;padding:10px;background:#fff!important;border:none!important;margin:-1px;outline:none}
.post-form .form-title input{height:40px;border:none;width:100%;padding:10px;}
.post-form .form-title span{height:40px;line-height:40px;border:none;width:100%;padding:0 10px;overflow:hidden;display:block;}
.post-form .form-content{border:none;resize:none;width:100%;height:150px;padding:10px;}
.post-form .button {margin:5px;}


#picker{display:inline-block;line-height:1.428571429;vertical-align:middle;margin:0 12px 0 0;}
#picker .webuploader-pick{padding:6px 12px;display: block;}
.uploader .thumbnail{width:25%;max-height:100px;}
.uploader .thumbnail img{width:95%;height:100px;background:url("../image/tieba/loading.png") center no-repeat;}
.uploader-list{width:100%;overflow:hidden;background:#fff;}
.file-item{float:left;position:relative;background:#fff;margin-top:10px;}
.upload-state-done:after{content:"\f00c";font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;font-size:16px;position: absolute;bottom: 0;right:10%;color:#4cae4c;z-index:99;}

