.wei-code{margin:30px;}
.wei-text {font-family:"Microsoft YaHei"!important;padding:30px;}
.wei-text p{line-height:30px;}
.wei-tit{font-family:"Microsoft YaHei"!important;padding:20px 0;font-size:48px;display:block;margin:0 auto;border-bottom:thin solid #EEE;width:350px;}
.wei-pic{margin:0 30px;}